* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    margin: auto;
    height: 15vh;
    align-items: center;
}

.nav-links, .logo-container, .cart {
    display: flex;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #5f5f79;
    font-size: 18px;
}

.cart {
    flex: 1;
    justify-content: flex-end;
}

.logo-container {
    flex: 1;
}

.logo {
    font-weight: 400;
    margin: 5px;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    justify-content: space-evenly;
}

.introduction {
    flex: 1;
}

.intro-text {
    font-size: 25px;
    font-weight: 500;
    /* LINEAR GRADIENT TEXT EFFECT */
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #858772;
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cta-select {
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-add {
    background-color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
     /* TOP RIGHT BOTTOM LEFT */
    margin: 30px 0px 0px 30px;
}

.cover {
    height: 60vh;
}

.cover img {
    /* RELATIVE TO THE SIZE OF THE COVER CLASS */
    height: 100%;
    /* add a shadow to a png image */
    filter: drop-shadow(0px 5px 3px black);
    /* DROP ANIMATION FOR IMAGE */
    animation: drop 1.5s ease;
}


/* BACKGROUND CIRCLES */

.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}

.mid-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}

.small-circle {
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
    height: 60%;
    z-index: -1;
}

/* LAPTOP BOTTOM SELECTOR */
.laptop-select {
    width: 20%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

/* ANIMATION PORTION */
@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
            
    }
}

/* RESPONSIVE MOBILE VERSION */

@media screen and (max-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }


    .presentation {
        flex-direction: column;
    }
    
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }

    .intro-text h1 {
        font-size: 30px;
    }

    .intro-text p {
        font-size: 18px;
    }

    .cta {
        padding: 10px 0px 0px 0px;
    }

    .laptop-select {
        bottom: -5%;
        right: 50%;
        width: 50%;
        /* REVIEW THIS PART */
        transform: translate(50%,5%);
    }

    .cover img {
        /* RELATIVE TO HEIGHT OF COVER CLASS */
        height: 80%;
    }

    .small-circle, .mid-circle, .big-circle {
        opacity: 0.2;
    }
}

/* ADD ANOTHER MEDIA QUERY IF IT IS RESPONSIVE IN CERTAIN SIZES */
/* @media screen and (max-width:360px) {
    
} */